%h1 Welcome to my wiki clone

- if user_signed_in?
	= link_to "New Article", new_article_path
- else
	= link_to "Sign Up Here!", new_user_registration_path

%br

- @article.each do |r|
	%h2= link_to r.title, r
	%p
		Published
		= time_ago_in_words(r.created_at())
		Ago
	%p= truncate(r.content, length: 200)